name: 225-SEm TDD
run-name: Testing commit ${{ github.sha }} by @${{ github.actor }}
on: [push, pull_request]

jobs:
  Test_C_Code:
    runs-on: ubuntu-latest
    container: ghcr.io/hei-synd-225-sem/sdi-tdd-lab:latest
    steps:
    - uses: actions/checkout@v3

    - name: Check code
      run: make -C test check

    - name: Run tests
      run: make -C test test

    - name: Clean
      run: make -C test clean
